body{
    margin: 0;
    padding: 0;
    background-color: #000;
    width: 400px;
    height: 650px;
}

.gauche{
    width: 40%;
	position: absolute;
	top: 8%;
	left: 60%;
}

.entete{
    color: #fff;
    width: 40%;
	position: absolute;
	top: 20%;
	left: 60%;
    font-size: 55px;
    font-family: 'Ramabhadra', sans-serif;
}

h1{
    color: #fff;
    width: 35%;
	position: absolute;
	top: 30%;
	left: 60%;
    font-size: 30px;
    font-family: 'Ramabhadra', sans-serif;
}

.inscrire{
    width: 35%;
	position: absolute;
	top: 43%;
	left: 60%;
    font-size: 17px;
    font-family: 'Ramabhadra', sans-serif;
    text-align: center;
    padding-bottom: 4px;
    border: 1px solid black;
    border-radius: 23px 23px 23px 23px;
    box-shadow: 10px 10px 10px #000;
}

.inscrires{
    width: 35%;
	position: absolute;
	top: 50%;
	left: 60%;
    font-size: 17px;
    font-family: 'Ramabhadra', sans-serif;
    text-align: center;
    padding-bottom: 4px;
    border: 1px solid #00acee;
    border-radius: 23px 23px 23px 23px;
    box-shadow: 10px 10px 10px #000;
}

.image_gauche{
    width: 40%;
	position: absolute;
	top: 0%;
	right: 60%;
}

.pied_page{
    position: absolute;
    bottom: 7%;
    display: flex;
    font-size: 14px;
    margin-left: 30px; 
    font-family: Arial, 'Times New Roman', Times, serif;
}

.pied{
    position: absolute;
    bottom: -2%;
    display: flex;
    font-size: 20px;
    margin-left: 46%; 
    font-family: Arial, 'Times New Roman', Times, serif;
}

